/*create your custom styling here*/
#header {
	height: 100px;
	background-color:green;
	margin: .5%;
}

.sidebar {
	height: 500px;
	width: 10%;
	background-color: blue;
	margin-right: .5%;
	margin-left: .5%;
	float: left;
	position: relative;
	margin-bottom: .5%;
}

#main-story {
	background-color: orange;
	height: 500px;
	width: 78%;
	position: relative;
	float: left;
	margin-bottom: .5%;
}

.small-box {
	background-color: yellow;
	height: 30%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	border-radius: 5px;
}

.long-box {
	background-color: yellow;
	height: 90%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}

#footer {
	background-color: pink;
	height: 100px;
	margin-right: .5%;
	margin-left: .5%;
	float: left;
	width: 99%;
}